<o-form #SectorPerformanceForm attr="SectorPerformance_form_insert" service="SectorPerformance" entity="SectorPerformance" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #sector_name attr="sector_name" label=" sector_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #performance_date attr="performance_date" type="timestamp" label="performance_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #performance_score attr="performance_score" label="performance_score" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>