<o-form-layout-manager attr="Stock" mode="tab" title="STOCK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="StockTable" 
            service="Stock" 
            entity="Stock" 
            title="STOCK"
            keys="id"
            columns="id;company_id;symbol;listing_date" 
            header-actions="R;D"
            visible-columns="id;company_id;symbol;listing_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="company_id" title="company_id">
    <o-table-cell-renderer-service attr="company_id" 
        service="Company" entity="CompanyType" columns="id;name"
        parent-keys="id:company_id"
        value-column="name" keys="company_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #symbol attr="symbol" title="symbol" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #listing_date attr="listing_date" type="timestamp" label="listing_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>